@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Staatliches&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --hue: 35;
    --bg-primary: hsl(var(--hue), 90%, 99%);
    --bg-secondary: hsl(var(--hue), 32%, 73%);
    --bg-title: hsl(var(--hue), 29%, 50%);
    --fc-primary: hsl(var(--hue), 100%, 100%);
    --fc-secondary: hsl(var(--hue), 0%, 100%);
    --fc-footer: hsl(var(--hue), 29%, 50%);

    --ff-heading: 'Staatliches', cursive;
    --ff-texting: 'Roboto', sans-serif;
    --ff-footer: 'Open Sans', sans-serif;

    font-size: 62.5%;
    --fs-heading: 4.8rem;
    --fs-body: 2.1rem;
    --fs-footer: 1.4rem;
    /* --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem); */
    /* --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem) */
}


body {
    font-family: var(--f-texting);

    background-color: var(--bg-primary);
    color: var(--fc-primary);

    font-size: var(--fs-body);
}


.page {
    /* max-width: clamp(36rem, 38rem + 68vw, 117rem); */
    min-width: 36rem;
    height: 100vh;
    max-width: 120rem;
    margin: auto;
}


header {
    background-color: var(--bg-secondary);

    text-align: center;

    animation: topdown 700ms;
}


header .header {
    padding-bottom: 3.5rem;
}


header .logo {
    padding: 3.2rem 8rem;
    width: 70%;
    min-width: 80%;
}


/* img {
    width: 100%;
    height: auto;
} */


header h1 {
    font-weight: 400;
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    background-color: var(--bg-title);

    line-height: 3.4rem;
    padding: 2.4rem 0;
}


header .paragraph {
    background-color: var(--bg-primary);
}


header p {
    color: var(--fc-footer);
    font-family: var(--ff-texting);
    font-size: var(--fs-body);
    font-weight: 400;
    line-height: 2.9rem;

    padding: 3.5rem 5rem 12.5rem;
}


section {
    margin-top: -3rem;
    margin-bottom: 2rem;
}


main {
    display: grid;
    gap: 3rem;

    animation: downtop 700ms 350ms backwards;
    padding: 0 3rem;
}

main .card:nth-child(odd) img {
    height: 25rem;
}

main .card:nth-child(even) img {
    height: 45rem;
}


.card {
    position: relative;

    font-family: var(--ff-heading);

    /* padding: 0 3rem; */
}


.card img {
    /* height: 41.5rem; */
    object-fit: cover;
    border-radius: .6rem;
    width: 100%;
    transition: all 200ms ease;
}


.card img:hover {
    transform: scale(1.03);
    opacity: 0.5;
}


.card h2 {
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: 3.2rem;
    background-color: var(--fc-primary);
    color: var(--bg-secondary);
    height: 4rem;
    width: fit-content;
    padding: 0 1.5rem;
    border-radius: 2rem;

    display: inline-flex;
    align-items: center;

    position: absolute;
    top: 5rem;
    right: 4rem;

    z-index: 1;
}


footer {
    display: none;
}


footer p {
    color: var(--fc-secondary);
    font-weight: 400;
    font-size: var(--fs-footer);
    line-height: 2.8rem;
    font-family: var(--ff-footer);
    color: var(--fc-footer);

    text-align: center;

    padding: 3rem 0;
}


footer span {
    font-style: bold;
}


@keyframes topdown {

    /* header */
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes downtop {

    /* main */
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-15px);
    }
}


@media (min-width: 600px) {
    .page {
        display: grid;
        grid-template-columns: 30rem 1fr;
    }

    header .logo {
        padding: 1rem;
        min-width: 70%;
    }

    header .paragraph {
        background-color: var(--bg-secondary);
    }

    .paragraph p {
        color: var(--fc-primary);
    }

    section {
        flex: 1;
    }

    main {
        display: grid;
        gap: 2rem;

        margin-top: 6rem;
    }

    footer {
        display: block;
    }
}


@media (min-width: 1000px) {
    main {
        grid-template-areas:
            "A B C"
            "D B E"
            "D F E";

        padding: 0 3rem;
    }

    main div:nth-child(1) {
        grid-area: A;
    }

    main div:nth-child(2) {
        grid-area: B;
    }

    main div:nth-child(3) {
        grid-area: C;
    }

    main div:nth-child(4) {
        grid-area: D;
    }

    main div:nth-child(5) {
        grid-area: F;
    }

    main div:nth-child(6) {
        grid-area: E;
    }
}